@{
    ViewData["Title"] = "Pokedex";
}

<div class="text-center">
    <h1 class="display-5">Search by Name or ID</h1>
    <input type="text" placeholder = "Search">
    <button type="submit"></button>
</div>


@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@