@page
@using Pokedex.Models
@model IndexModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Pokedex</h1>
<p>Welcome to the virtual pokedex</p>

@if (Model.Pokemons != null && Model.Pokemons.Count() > 0)
{
    <ul>
        @foreach (var pokemon in Model.Pokemons)
        {
            <li>@pokemon.Id ) @pokemon.Name</li>
        }
    </ul>
}
else
{
    <div>No Pokemons Found...</div>
}