@page
@using PokedexAPI.Models
@model IndexModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Pokedex</h1>
<p>Welcome to the virtual pokedex</p>

@if (Model.Pokemons != null && Model.Pokemons.Count() > 0)
{
@*     <ul class="p-6 mx-auto bg-white rounded-xl shadow-lg d-grid col-3">
        @foreach (var pokemon in Model.Pokemons)
        {
            <li class="text-2xl align-content-around p-5">@pokemon.Id . @pokemon.Name</li>
        }
    </ul> *@
}
else
{
    <div>No Pokemons Found...</div>
}